<!DOCTYPE html>
<html>
	<div class="lesson" ng-init="initLesson()">	
		<div id="mySidenav" class="sidenav" uib-collapse="isCollapsedHorizontal">
		  <a href="javascript:void(0)" class="closebtn" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">&times;</a>
		  <a ng-repeat="lesson in lessons">{{lesson.title}}</a>
		</div>

		<div class="lesson-left-bar col-lg-2 col-md-3 col-sd-2 text-center">
			<div class="lesson-left-bar-title">
				{{lesson.path_title}}
			</div>
			<div class="lesson-left-bar-wraper">
				<h3>{{lesson.title}}</h3>
				<div class="lesson-left-bar-article">
					{{lesson.article}}
				</div>
				<div class="lesson-left-bar-instruction">
					<div class="instruction-header">Instrukcja</div>
					<div class="instruction-element" ng-repeat="instruction in lesson.instructions">{{instruction}}</div>
				</div>
			</div>
		</div>
		<div class="lesson-middle col-lg-10 col-md-9 col-sd-10">
			<uib-tabset active="active" class="editor-tabset" >
				<uib-tab index="$index + 1" ng-repeat="tab in lesson.tabs" heading="{{tab.name}}" disable="tab.disabled">
					<editor-directive content="tab" ng-init="initEditor(tab.content)"></editor-directive>
					<div class="action-bar">
						<div class="btn-primary submit-button" ng-click="validateContent(tab)">Save and submit</div>
						<div class="btn-default reset-button" ng-click="clearEditor(tab.content)">Clear</div>
					</div>
					<div id="result" class="lesson-right-bar">
						RESULT
					</div>
				</uib-tab>
			</uib-tabset>				
		</div>
		<div class="sidebar-toogle">
			<span class="glyphicon glyphicon-menu-hamburger" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal"></span>
		</div>
	</div>
</html>