<!DOCTYPE html>
<html>
	<banner-directive name="banner.jpg"></banner-directive>
	<div class="panel-default text-center">
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		<p>This is home page.</p>
		This is home page.
	</div>
</html>