<!DOCTYPE html>
<html>
	<banner-directive name="banner.jpg"></banner-directive>
	<div class="panel-default text-center">
		<h1>E-learning</h1>
		<p>Witam</p>
		<p>Strona ta dedykowana jest nauce języków programowania, to co czyni ją inną od innych tego typu stron jest dodatkowe rozpoznawanie emocji uczestnika kursu.</p>
		<p>Podczas rozwiązywania zadań aplikacja pobiera informacje o dynamice naciskania klawiszy oraz ruchów myszy. Na tej podstawie wyznaczane są
			emocje, które mają wpływ na efektywnośc procesu nauczania. </p>
	</div>
</html>