<div class="panel-login text-center">
	<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
	<form class="col-sm-12 text-center">
		<p class="row">
			Name:
		</p>
		<p class="row">
			<input type="text" ng-model="name"></input>
		</p>
		<p class="row">
			Password:
		</p>
		<p class="row">
			<input type="password" ng-model="password"></input>
		</p>
		<p class="row">
			<button ng-click="login()" ng-disabled="name==null || password==null" >Login</button>
		</p>
	</form>
</div>
